
<% if signed_in? %>
     
     <div class="container">
		    <div class="twelve columns">
		      <div id="home" class="row">     
     				 <div class="col-sm-10 col-sm-push-1 img-responsive">
		            	<h1 class="head-text responsive">Welcome, <%= current_user.firstname %> <%= current_user.lastname %> !</h1>
		            		<div class="carousel slide" id="carousel-example">
		            			<ol class="carousel-indicators">
			            			<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
			            			<li data-target="#carousel-example" data-slide-to="1"></li>
			            			<li data-target="#carousel-example" data-slide-to="2"></li>
		            			</ol>

		            		<div class="carousel-inner">
				            			<div class="item active">
				            					<img src="/images/caption.jpg" alt="Image">
				            					<div class="carousel-caption"><h3>Places</h3></div>
				            			</div>
				            			<div class="item">
				            					<img src="/images/caption2.jpg" alt="Image">
				            					<div class="carousel-caption"><h3>People</h3></div>
				            			</div>
				            			<div class="item">
				            					<img src="/images/caption3.jpg" alt="Image">
				            					<div class="carousel-caption"><h3>Find your soulmate</h3></div>
				            			</div>
		            		</div>
		          	  			<a href="#carousel-example" class="left carousel-control" data-slide="prev">
		            						<span class="icon-prev"></span>
		            				</a>
		            				<a href="#carousel-example" class="right carousel-control" data-slide="next">
		            						<span class="icon-next"></span>
		            				</a>		            			
	            			</div>
		          	</div>  
        		</div>
          	
          	<hr>

			    		<div id="info" class="row">
			        		<div class="col-sm-6 col-sm-push-1">
			        				<h3> What is this all about ? </h3>
				        		</div>
			    					<div id="what_p" class="col-sm-5">
								    			<p>Do you ever wish you had a second chance to meet someone again?</p>	
										    	<p>We visit different places. Whether it is business meetings, leisure or just shopping. Perhaps some of us have been looking for our soulmates.</p>

														<p>We meet different people, sometimes very attractive but we're too shy to speak to them or circumstances do not allow you to start a conversation.
													Why not give these people the opportunity for a second chance to meet each other?</p></div> 
										</div>
							</div>
						<hr>

								<div class="row">
											<div class="col-sm-6 col-sm-push-1">
													<h3>How it works?</h3>
											</div>
											
											<div class="col-sm-5">
													<p>1. Choose a time and place where you see the person with whom you want to meet again. Save it!</p>
													<p>2. Look at how many people have visited this place on the day and time that you were there. Choose someone with whom you would like to meet again.</p>
													<p>3. Send a message and wait for a response. We hope you will be able to get a Second Chance.</p>
											</div>
  	 	 					</div>
  	 	 		<hr>
		<!-- Video -->
    	<div class="row">
		    		<div class="col-sm-10 col-sm-push-1">
		    				<div align="center" class="embed-responsive embed-responsive-16by9 img-rounded">
										 <video width="800" height="600" poster="/images/poster3.jpg" class="img-rounded" controls>
					    						<source src="FindSomeone.mp4" type="video/mp4">
					 						</video>
								</div>
    				</div>
    		</div>
    </div>

    <% else %>

     <div class="container">
		    <div class="twelve columns">
		      <div id="home" class="row">     
     				 <div class="col-sm-10 col-sm-push-1">
		            	<h1 class="head-text">Welcome to Second Chance!</h1>
		            		<div class="carousel slide" id="carousel-example">
		            			<ol class="carousel-indicators">
			            			<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
			            			<li data-target="#carousel-example" data-slide-to="1"></li>
			            			<li data-target="#carousel-example" data-slide-to="2"></li>
		            			</ol>

		            		<div class="carousel-inner">
				            			<div class="item active">
				            					<img src="/images/caption.jpg" alt="Image">
				            					<div class="carousel-caption"><h3>Places</h3></div>
				            			</div>
				            			<div class="item">
				            					<img src="/images/caption2.jpg" alt="Image">
				            					<div class="carousel-caption"><h3>People</h3></div>
				            			</div>
				            			<div class="item">
				            					<img src="/images/caption3.jpg" alt="Image">
				            					<div class="carousel-caption"><h3>Find your soulmate</h3></div>
				            			</div>
		            		</div>
		          	  			<a href="#carousel-example" class="left carousel-control" data-slide="prev">
		            						<span class="icon-prev"></span>
		            				</a>
		            				<a href="#carousel-example" class="right carousel-control" data-slide="next">
		            						<span class="icon-next"></span>
		            				</a>		            			
	            			</div>
		          	</div>  
        		</div>
          	
          	<hr>

			    		<div id="info" class="row">
			        		<div class="col-sm-6 col-sm-push-1">
			        				<h3> What is this all about ? </h3>
				        		</div>
			    					<div id="what_p" class="col-sm-5">
								    			<p>Do you ever wish you had a second chance to meet someone again?</p>	
										    	<p>We visit different places. Whether it is business meetings, leisure or just shopping. Perhaps some of us have been looking for our soulmates.</p>

														<p>We meet different people, sometimes very attractive but we're too shy to speak to them or circumstances do not allow you to start a conversation.
													Why not give these people the opportunity for a second chance to meet each other?</p></div> 
										</div>
							</div>
						<hr>

								<div class="row">
											<div class="col-sm-6 col-sm-push-1">
													<h3>How it works?</h3>
											</div>
											
											<div class="col-sm-5">
													<p>1. Choose a time and place where you see the person with whom you want to meet again. Save it!</p>
													<p>2. Look at how many people have visited this place on the day and time that you were there. Choose someone with whom you would like to meet again.</p>
													<p>3. Send a message and wait for a response. We hope you will be able to get a Second Chance.</p>
											</div>
  	 	 					</div>
  	 	 		<hr>
		<!-- Video -->
    	<div class="row">
		    		<div class="col-sm-10 col-sm-push-1">
		    				<div align="center" class="embed-responsive embed-responsive-16by9 img-rounded">
										 <video width="800" height="600" poster="/images/poster3.jpg" class="img-rounded" controls>
					    						<source src="FindSomeone.mp4" type="video/mp4">
					 						</video>
								</div>
    				</div>
    		</div>
    </div>

    <% end %>

<style>
	
	body {color:#ECECEA;font-family: 'Merriweather Sans', sans-serif;}
	.carousel-inner {background-color: #fff;}
	hr {margin: 60px auto;}
	.head-text {margin-top: 50px;font-size: 30px;}
	@media (max-width: 768px) {.head-text{font-size: 22px;} h3{font-size: 18px;}p{font-size: 13px;}}


</style>
