@import "bootstrap";

body  {
        overflow-x: hidden;
    }

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.tagline {
  
  text-align:center;
  color: #ed551e;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container #a {
  margin-top: 80px;
}

.col-sm-4 h4 {
  text-align: center;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2b7177;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-shadow: 3px 3px 5px #51b1ba;
  
}


.nav {
	float: right;
}



.hero-feature {
	min-height: 400px;
}

.caption {
	min-height: 340px;
}

.image_place {
	display: inline-block;
}

main {
min-height: 700px;
background-color: #8acace;
}

.erven {
  background-color: #2baebf;
  border-radius: 7px 7px 0px 0px;
}

.linkone:hover {
  background-color: #ed551e;
  cursor: pointer;
  opacity: 0.8;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #2baebf;
  border-color: #2baebf;  
}


.img-circle {
  width: 250px;
  height: 250px;
}


.navbar.navbar-inverse.navbar-fixed-top a {
  color: #2b7177;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 3px 3px 5px #51b1ba;
}




.navbar-bottom {

  background-color: #2baebf;
  border-color: #2baebf;  
  padding-top: 14px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.navbar-bottom p {
  text-align: center;
}


 .thumbnail {
       
    background: #fff;
    display: block;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
         
    }


  .caption span {
      
      font-size: 17px;
      font-weight: bold;
      margin-top: 5px; 
      text-align: center; 
      color: #ed551e;
      text-transform: uppercase;
    }

  .hero-spacer {
    margin-top: 50px;
    background-color: #fff;
  }

  @media (max-width:1250px) {
  .btn-save {
    margin-left: -50px;
    margin-top: 10px;
  }
}
