
@import "bootstrap";

body  {
        overflow-x: hidden;
        font-family: 'Merriweather Sans', sans-serif;
    }

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.tagline {
  
  text-align:center;
  color: #ECECEA;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container #a {
  margin-top: 80px;
}

.col-sm-4 h4 {
  text-align: center;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
  line-height: 1.1;
  text-decoration: none;
  color: #ECECEA;
}

#logo:hover {
  opacity: 0.8;
}

.nav {
	float: right;
}



.hero-feature {
	min-height: 400px;
}

.caption {
	min-height: 340px;
}

.image_place {
	display: inline-block;
}

main {
min-height: 610px;
background-color: #74AFAD;
}

.erven {
  background-color: #558C89;
  border-radius: 7px 7px 0px 0px;
}

.linkone:hover {
  background-color: #D9853B;
  cursor: pointer;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #558C89;
  border-color: #558C89;  
}


.img-circle {
  width: 230px;
  height: 230px;
}


.navbar.navbar-inverse.navbar-fixed-top a {
  font-weight: bold;
  font-size: 12px;
  color: #ECECEA;
}

.navbar.navbar-inverse.navbar-fixed-top a:hover {
  text-decoration: underline;
}



.navbar-bottom {

  background-color: #558C89;
  border-color: #558C89;  
  padding-top: 14px;
  color: #ECECEA;
  text-transform: uppercase;
  font-size: 13px;
}

.navbar-bottom p {
  text-align: center;
}


 .thumbnail {
       
    background: #fff;
    display: block;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 4px
     rgba(0, 0, 0, 0.3), 0 0 40px
     rgba(0, 0, 0, 0.1) inset;
    }

  .btn_mybtn2 {
    width: 70px;
    position: absolute;
    left: 115px;
    top: 300px;
  }

  .caption span {
      
      font-size: 17px;
      font-weight: bold;
      margin-top: 5px; 
      text-align: center; 
      color: #D9853B;
      text-transform: uppercase;
    }

  .hero-spacer {
    margin-top: 50px;
    background-color: #558C89;
  }



    .btn_message img {
        position: absolute;
        width: 100px;
        top: 330px;
        right: 290px;
        
    }

    .frame {
      width: 230px;
      height: 250px;
      padding: 10px 10px;
      background-color: #ECECEA;
      border-radius: 10px;
    }

    .frame img {
      width: 210px;
      height: 230px;
      border-radius: 3px;
    }

      .blok_left, .blok_right {
      font-size:16px;
      font-weight:bold;
      position:relative;
      width:95%;
      padding:1em;
      margin:1em 10px 1em;
      background:#fff;
      box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
                  0 1px 4px rgba(0, 0, 0, 0.3), 
                  0 0 40px rgba(0, 0, 0, 0.1) inset;
      border-radius: 10px;
    }

    .blok_left:before,
    .blok_left:after {
      content:"";
      position:absolute;
      z-index:-2;
    }

    .blok_right:before,
    .blok_right:after {
      content:"";
      position:absolute;
      z-index:-2;
    }

    .blok_right {
      color: #D9853B
;

    }

    .blok_left {
      color: #558C89;
    }

    .frame.profile {
      width: 170px;
      height: 190px;
      position: absolute;
      background-color: #ECECEA;
      border-radius: 10px;
      right: 100px;
      top: 10%;;
    }

    .frame.profile img {
      width: 150px;
      height: 170px;
      border-radius: 2px;
    }


    .authform {
      margin-top: 8%;
  
    }

  form#new_user.new_user, form#edit_user.edit_user, form.button_to {
    background-color: #558C89;
    border-color: #558C89;
    color:#ECECEA;
  }


  form#new_user.new_user  a, .image_bottom a {
    color:#ECECEA; 
  }

  .btn-warning {
    background-color: #D9853B;
    border-color: #D9853B;
  }

  #plname {
    color: #ECECEA;
  }

  #quoteone, .count_people, .col-md-6 {
    color: #ECECEA;
    margin: 1px auto;
    line-height: 1.8;
  }


    .img-fiends {
      width: 150px;
      height: 170px;
      background-color: #ECECEA;
      border-radius: 10px;
    
    }

    .img-fiends img {
      width: 130px;
      height: 160px;
      padding-top: 10px;
      border-radius: 2px;
    }

    .fa.fa-times.delete {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }



  @media (max-width:1250px) {
  .btn-save {
    margin-left: -50px;
    margin-top: 10px;
  }
}
