<!-- Footer -->
  <footer class='text-center navbar-bottom'>
      <div class="row">
          <div class="col-lg-12 footer">
              <p>Copyright &copy; Second Chance 2016</p>
          </div>
      </div>
  </footer>

